@page
@model dotnetdodo.ConOrderFormModel
@{
    ViewData["Title"] = "Order Form";
    Layout = "~/Pages/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>
<hr />

<form method="post">
    <div class="form-group">
        <label asp-for="Orders[0].Width">Width</label>
        <input asp-for="Orders[0].Width" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Orders[0].Demand">Demand</label>
        <input asp-for="Orders[0].Demand" class="form-control" />
    </div>
    
    <div class="form-group">
        <label asp-for="Orders[1].Width">Width</label>
        <input asp-for="Orders[1].Width" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Orders[1].Demand">Demand</label>
        <input asp-for="Orders[1].Demand" class="form-control" />
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
