@page


<form method="post">
    <div class="form-group">
        <label asp-for="StockLength">Stock Length</label>
        <input asp-for="StockLength" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Widths">Widths</label>
        <input asp-for="Widths" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Demands">Demands</label>
        <input asp-for="Demands" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

