@model dotnetdodo.Models.OrderFormModel

<form method="post">
    <div class="form-group">
        <label for="Widths">Widths (separated by comma):</label>
        <input type="text" class="form-control" id="Widths" name="Widths">
    </div>
    <div class="form-group">
        <label for="Demands">Demands (separated by comma):</label>
        <input type="text" class="form-control" id="Demands" name="Demands">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>



